# React Native & Expo
node_modules/
.expo/
.expo-shared/
dist/
android/
ios/

# Firebase
firebase-debug.log
firebase.json
.firebaserc
functions/node_modules/
functions/.env
.env
.env.local
.env.production
.env.development

# System
.DS_Store
